/* =====================================================
   MONFANSUB VIETNAM
   PRELOADER.CSS
   CSS TẢI TRANG
===================================================== */

#preloader {
  position: fixed;
  inset: 0;

  z-index: 999999;

  display: flex;
  align-items: center;
  justify-content: center;

  background:
    radial-gradient(
      circle at center,
      #171d2b 0%,
      #090c13 55%,
      #05070b 100%
    );

  opacity: 1;
  visibility: visible;

  transition:
    opacity .5s ease,
    visibility .5s ease;
}

#preloader.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loader {
  text-align: center;
}

.loader-logo {
  width: 90px;
  height: 90px;

  margin: 0 auto 25px;

  border-radius: 24px;

  object-fit: cover;

  box-shadow:
    0 20px 60px rgba(0, 0, 0, .5);
}

.loader-spinner {
  width: 36px;
  height: 36px;

  margin: auto;

  border: 3px solid rgba(255, 255, 255, .12);
  border-top-color: #fff;

  border-radius: 50%;

  animation: spin .8s linear infinite;
}

.loader-text {
  margin-top: 15px;

  color: #9ba4b5;

  font-size: 13px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}